# Fichiers propres à la machine et aux éditeurs
.idea/
.vscode/
*.iml
*.iws

# Dart / Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Gradle / Kotlin
.kotlin/
.gradle/
local.properties
android/app/debug
android/app/profile
android/app/release

# OS
.DS_Store
Thumbs.db